.courses-section {
	display: grid;
	.header {
		display: grid;
		grid-template-columns: auto 1fr auto;

		p {
			width: min(20rem, 100%);
			margin-inline-start: 5rem;
		}

		.left-icon,
		.right-icon {
			background-color: var(--accent-light);
			margin-inline-start: 0.75rem;
		}
	}

	.cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 2rem;
		margin-block: 4rem;
	}

	.card {
		padding: 1rem;
		background-color: #20344a;
		border: 1px solid #3d4e64;
		border-radius: 1rem;
		display: flex;
		flex-direction: column;

		&:hover {
			background-color: #364c65;
		}

		.header,
		.lesson {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 0.8rem;
		}

		.header {
			margin-block-end: 0.75rem;
		}

		.lesson {
			gap: 0.5rem;
		}

		.tag {
			padding: 0.25rem 0.75rem;
			border: 1px solid;
			border-radius: 9999px;
		}

		h4 {
			margin-block: 1.5rem 1rem;
		}

		p {
			color: #7b92ac;
			font-size: 0.9rem;
		}

		.footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: auto;
			position: relative;
		}

		.footer::before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 1px;
			background-color: hsla(240, 64%, 91%, 0.3);
			top: -1.5rem;
		}

		.company {
			width: 2.5rem;
			height: auto;
		}

		.btn {
			--color: white;
			padding: 0.5rem 1.5rem;
		}
	}

	.btn--outline {
		padding: 0.75rem 1.25rem;
		justify-self: center;
	}
}
