footer {
	background-color: #20344a;
	padding-block: 3rem;
	img {
		flex-shrink: 0;
	}
	.companies {
		flex: 1 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-around;
		overflow-x: auto;

		img {
			display: inline;
			width: 9rem;
			vertical-align: middle;
			margin-inline: 1rem;
		}
		&__wrapper {
			display: flex;
			gap: 1rem;
			justify-content: space-between;
		}
	}

	form {
		display: flex;

		button {
			padding: 0.25rem 1rem;
		}
	}

	section {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem;
		justify-items: center;

		& > * {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
	}

	input {
		background-color: transparent;
		border: none;
		border-bottom: 2px solid var(--accent-light);

		&::placeholder {
			color: var(--color);
		}
	}

	ul, li {
		margin: 0;
		padding: 0;
	}
}
