/* 
-------------------------------------
            BASE STYLES
-------------------------------------
*/
@use './variables';

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: var(--accent);
	font-family: 'Poppins', sans-serif;
	color: var(--color);
}

#root {
	--max-width: max(2rem, 50% - 1180px / 2);

	> *:not(.full-bleed) {
		padding-inline: var(--max-width);
	}
}

h1, h2, h3, h4 {
	font-family: 'KoHo', sans-serif;
	color: white;
}

h1 {
	font-size: clamp(2.5rem, 1.2558rem + 3.7209vw, 5rem);
}

h2 {
	font-size: clamp(1.75rem, 0.9419rem + 2.7907vw, 2.75rem);
}

h3 {
	font-size: clamp(1.5rem, 0.9419rem + 2.7907vw, 2.25rem);
}

h4 {
	font-size: clamp(1rem, 0.9419rem + 2.7907vw, 1.25rem);
}

hr {
	border: none;
	height: 1px;
	background-color: hsl(240 64% 91% / 0.3);
	margin-block: 1.25rem
}

section {
	// position: relative;
	padding-block: 4rem;
}

:where(button, a) {
	font-weight: 500;

	&:focus-visible {
		outline: 2px solid var(--color);
		outline-offset: 4px;
	}
}

.btn {
	border-radius: 9999px;
	background-color: var(--bg-color, transparent);
	color: var(--color, white);
	cursor: pointer;
	transition: all 150ms ease-in-out;
	transition-property: color, background-color;
	border: none;

	&--outline {
		padding: 0.3rem 0.75rem;
		border: 2px solid;
		outline-offset: -7px;

		&:hover {
			background-color: var(--color, white);
			color: var(--accent);
		}
	}

	&--yellow {
		--bg-color: var(--yellow);
		--color: hsl(212, 30%, 30%);
	}

	&--green {
		--bg-color: var(--green);
	}
}

.left-icon, .right-icon {
	width: 2.25rem;
	height: auto;
	background-color: transparent;
	border: none;
	padding: 0.25rem;
	border-radius: 50%;
	cursor: pointer;
}