/* 
-------------------------------------
                RESETS
-------------------------------------
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

:where(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

:where(h1, h2, h3, h4, button, input, label) {
  line-height: 1.1;
}

:where(h1, h2, h3, h4) {
  text-wrap: balance;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:target {
  scroll-margin-block: 5ex;
}

.highlight--green {
  color: var(--green);
}
.highlight--yellow {
  color: var(--yellow);
}

footer::before, footer::after, .glow::after, .gradient-blur {
  position: absolute;
  width: calc(100% - 10rem);
  height: calc(100% + 4rem);
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  z-index: -1;
  background: rgba(214, 255, 194, 0.15);
  filter: blur(75px);
}

@media (min-width: 1920px) {
  .gradient-blur {
    display: none;
  }
}

.glow {
  position: relative;
}
.glow::after {
  content: "";
  display: inline-flex;
}

/* 
-------------------------------------
            BASE STYLES
-------------------------------------
*/
:root {
  --accent: hsl(212, 53%, 17%);
  --accent-light: hsl(214, 24%, 32%);
  --yellow: hsl(38, 95%, 60%);
  --green: hsl(153, 69%, 42%);
  --color: #d9ecff;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--accent);
  font-family: "Poppins", sans-serif;
  color: var(--color);
}

#root {
  --max-width: max(2rem, 50% - 1180px / 2);
}
#root > *:not(.full-bleed) {
  padding-inline: var(--max-width);
}

h1, h2, h3, h4 {
  font-family: "KoHo", sans-serif;
  color: white;
}

h1 {
  font-size: clamp(2.5rem, 1.2558rem + 3.7209vw, 5rem);
}

h2 {
  font-size: clamp(1.75rem, 0.9419rem + 2.7907vw, 2.75rem);
}

h3 {
  font-size: clamp(1.5rem, 0.9419rem + 2.7907vw, 2.25rem);
}

h4 {
  font-size: clamp(1rem, 0.9419rem + 2.7907vw, 1.25rem);
}

hr {
  border: none;
  height: 1px;
  background-color: hsla(240, 64%, 91%, 0.3);
  margin-block: 1.25rem;
}

section {
  padding-block: 4rem;
}

:where(button, a) {
  font-weight: 500;
}
:where(button, a):focus-visible {
  outline: 2px solid var(--color);
  outline-offset: 4px;
}

.btn {
  border-radius: 9999px;
  background-color: var(--bg-color, transparent);
  color: var(--color, white);
  cursor: pointer;
  transition: all 150ms ease-in-out;
  transition-property: color, background-color;
  border: none;
}
.btn--outline {
  padding: 0.3rem 0.75rem;
  border: 2px solid;
  outline-offset: -7px;
}
.btn--outline:hover {
  background-color: var(--color, white);
  color: var(--accent);
}
.btn--yellow {
  --bg-color: var(--yellow);
  --color: hsl(212, 30%, 30%);
}
.btn--green {
  --bg-color: var(--green);
}

.left-icon, .right-icon {
  width: 2.25rem;
  height: auto;
  background-color: transparent;
  border: none;
  padding: 0.25rem;
  border-radius: 50%;
  cursor: pointer;
}

/* 
-------------------------------------
							HEADER
-------------------------------------
*/
.logo {
  font-size: 1.75rem;
  font-family: "KoHo", sans-serif;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.nav a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 3.5rem;
  align-items: center;
  min-block-size: 5rem;
  padding: 0.75rem 0;
  position: relative;
}
header .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .icon-tabler {
  display: none;
}
@media (max-width: 895px) {
  header {
    display: flex;
    align-content: start;
    justify-content: space-between;
    gap: 0.5rem;
  }
  header .icon {
    display: inline-flex;
    order: 1;
  }
  header .nav {
    flex-direction: column;
    text-align: center;
    padding: 0;
    opacity: 0;
    transform: translate3d(0, -3rem, 3rem) scale(0.8);
    perspective: 1000px;
    pointer-events: none;
    transition: transform 150ms ease-in-out;
  }
  header .nav.active {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
    pointer-events: auto;
  }
  header button {
    justify-self: center;
  }
  header .nav {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 2rem 0;
    width: 100%;
    background-color: white;
    color: var(--accent);
    z-index: 10;
  }
  header button {
    order: 1;
  }
}

.home-section {
  display: grid;
  justify-items: center;
  align-content: start;
  gap: 3rem;
  position: relative;
}
.home-section .illustration {
  position: absolute;
  align-self: center;
  z-index: -1;
  top: -8rem;
  max-width: 1500px;
}
@media (max-width: 1000px) {
  .home-section .illustration {
    display: none;
  }
}
.home-section .arrow {
  width: 100px;
  position: absolute;
  bottom: -1.75rem;
}
.home-section h1 {
  text-align: center;
}
.home-section .highlight--yellow {
  background-image: url("data:image/svg+xml,%3Csvg width='214' height='21' viewBox='0 0 214 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 17C49.2576 8.94814 153.818 -3.68322 210 10.2062' stroke='%23EFA02A' stroke-width='7' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 0.5rem;
}
.home-section p {
  font-weight: 500;
  font-size: clamp(1rem, 0.8605rem + 0.6977vw, 1.275rem);
  text-align: center;
}
.home-section form {
  position: relative;
  background-color: var(--accent-light);
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  padding-left: 2rem;
  border-radius: 9999px;
  width: min(100%, 30rem);
  justify-content: space-between;
}
.home-section input {
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: var(--color);
}
.home-section input::-moz-placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: inherit;
}
.home-section input::placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: inherit;
}
.home-section .btn {
  padding: 0.5rem 0.75rem;
  font-family: Inter;
}
.home-section .gradient {
  height: 11rem;
}

.badges {
  margin-block: 4rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.badges .wider {
  grid-column: span 2;
}
.badges .badge {
  display: grid;
  place-content: center;
  text-align: center;
  padding-block: 1.25rem;
  color: white;
  font-weight: 500;
}
.badges .badge:nth-child(even) {
  background-color: var(--green);
  translate: 0 1.75rem;
}
.badges .badge:nth-child(odd) {
  background-color: var(--accent-light);
}
.badges .count {
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "KoHo";
  margin-block-end: 0.6rem;
}
.badges .heading {
  --gap: 7rem;
  display: flex;
  gap: var(--gap);
  font-size: 1.75rem;
  margin-block-end: 0.6rem;
}
.badges .reviewer {
  position: relative;
  display: flex;
}
.badges .reviewer::after {
  position: absolute;
  content: "";
  display: inline-flex;
  height: 1px;
  width: calc(var(--gap) - 2rem);
  left: calc(100% + 1rem);
  background-color: var(--color);
  align-self: center;
}
@media (max-width: 1100px) {
  .badges {
    display: flex;
    flex-wrap: wrap;
  }
  .badges .badge {
    flex: 1 1 250px;
  }
  .badges .badge:nth-child(even) {
    translate: 0 0;
  }
  .badges .wider {
    grid-column: span 1;
  }
  .badges .heading {
    --gap: 1rem;
    flex-wrap: wrap;
  }
  .badges .reviewer::after {
    display: none;
  }
}
.badges .rating {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.badges .rating img {
  width: 28px;
}
.badges span {
  color: var(--color);
}

.categories-section {
  text-align: center;
}
.categories-section p {
  margin-block-start: 1rem;
  padding-inline: 1rem;
}
.categories-section .categories__wrapper {
  display: grid;
  gap: 0.5rem;
  position: relative;
  grid-template-columns: auto 1fr auto;
  padding-inline: var(--max-width);
  align-items: center;
  margin-block-start: 2.5rem;
  padding-block: 3.5rem;
}
.categories-section .categories__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  background: #20344A url("/images/background_pattern.png") no-repeat 50% 50%/cover;
  background-blend-mode: multiply;
  opacity: 0.5;
}
.categories-section .categories {
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(6, minmax(160px, 1fr));
  gap: 1rem;
  border-radius: 1rem;
}
.categories-section .category {
  padding: 1.5rem;
  display: grid;
  place-content: center;
  gap: 0.5rem;
  background-color: var(--accent-light);
  border: 1px solid hsla(240, 64%, 91%, 0.5);
  border-radius: 1rem;
}
.categories-section .icon {
  box-sizing: content-box;
  width: 32px;
  height: auto;
  background-color: var(--yellow);
  padding: 0.75rem;
  border-radius: 50%;
  margin-block-end: 0.75rem;
  justify-self: center;
}

.courses-section {
  display: grid;
  position: relative;
}
.courses-section .header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "heading para icon";
}
.courses-section .header h3 {
  grid-area: heading;
}
.courses-section .header p {
  width: min(20rem, 100%);
  margin-inline-start: 5rem;
  grid-area: para;
}
.courses-section .header .left-icon,
.courses-section .header .right-icon {
  background-color: var(--accent-light);
  margin-inline-start: 0.75rem;
  grid-area: icon;
}
@media (max-width: 767px) {
  .courses-section .header {
    grid-template-columns: auto auto;
    grid-template-areas: "heading icon" "para para";
    row-gap: 1rem;
  }
  .courses-section .header .icons {
    justify-self: end;
  }
  .courses-section .header p {
    margin: 0;
  }
}
.courses-section .cards {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-block: 4rem;
}
.courses-section .gradient-blur {
  height: 12rem;
  width: 90%;
  left: 0;
  top: 2rem;
  filter: blur(100px);
}
.courses-section .gradient-blur:not(:first-child) {
  filter: blur(100%);
  height: 60%;
  width: 10rem;
  left: 100%;
  top: 50%;
}
.courses-section .card {
  padding: 1rem;
  background-color: #20344a;
  border: 1px solid #3d4e64;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.courses-section .card:hover {
  background-color: #364c65;
}
.courses-section .card .header,
.courses-section .card .lesson {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}
.courses-section .card .header {
  margin-block-end: 0.75rem;
}
.courses-section .card .lesson {
  gap: 0.5rem;
}
.courses-section .card .tag {
  padding: 0.25rem 0.75rem;
  border: 1px solid;
  border-radius: 9999px;
}
.courses-section .card h4 {
  margin-block: 1.5rem 1rem;
}
.courses-section .card p {
  color: #7b92ac;
  font-size: 0.9rem;
}
.courses-section .card .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  position: relative;
}
.courses-section .card .footer::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: hsla(240, 64%, 91%, 0.3);
  top: -1.5rem;
}
.courses-section .card .company {
  width: 2.5rem;
  height: auto;
}
.courses-section .card .btn {
  --color: white;
  padding: 0.5rem 1.5rem;
}
.courses-section .btn--outline {
  padding: 0.75rem 1.25rem;
  justify-self: center;
}

.process-section {
  position: relative;
}
.process-section::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  background: #20344a url("/images/background_pattern.png") no-repeat 50% 50%/cover;
  background-blend-mode: multiply;
  opacity: 0.5;
}
.process-section .illustration {
  width: min(500px, 100%);
}
.process-section .gradient-blur {
  height: 60%;
  width: 10rem;
  left: 0;
  filter: blur(80px);
}
.process-section .header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "heading para img";
  align-items: center;
}
.process-section .header h3 {
  grid-area: heading;
}
.process-section .header p {
  width: min(23rem, 100%);
  margin-inline-start: 5rem;
  grid-area: para;
}
.process-section .header img {
  width: 5rem;
  height: auto;
  grid-area: img;
  justify-self: end;
}
@media (max-width: 880px) {
  .process-section .header {
    grid-template-columns: auto auto;
    grid-template-areas: "heading img" "para .";
    gap: 1rem;
  }
  .process-section .header p {
    margin: 0;
  }
  .process-section .header img {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.process-section .procedure__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  margin-block-start: 3rem;
  align-items: center;
  justify-items: center;
  gap: 2rem;
}
.process-section .procedure {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 1.5rem;
}
.process-section .process {
  display: grid;
  grid-template-areas: "icon heading" "icon description";
  gap: 1rem;
  background-color: var(--accent-light);
  padding: 1.5rem;
  border-radius: 1rem;
}
@media (max-width: 570px) {
  .process-section .process {
    grid-template-areas: "icon ." "heading heading" "description description";
  }
}
.process-section .process .icon {
  grid-area: icon;
  width: 2.5rem;
  padding: 0.5rem;
  box-sizing: content-box;
  background-color: var(--yellow);
  align-self: start;
  border-radius: 50%;
}
.process-section .process__heading {
  grid-area: heading;
}
.process-section .process__description {
  grid-area: description;
  color: #e1efff;
}

.faq-section {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: "heading accordian";
  align-items: start;
  position: relative;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .faq-section {
    grid-template-columns: auto;
    grid-template-areas: "heading" "accordian";
    row-gap: 1rem;
  }
  .faq-section .header {
    text-align: center;
  }
}
.faq-section .gradient-blur {
  filter: blur(100px);
  width: 10rem;
  height: 50%;
  left: 0;
  top: 30%;
}
.faq-section .gradient-blur:not(:first-child) {
  left: 100%;
  top: 45%;
}
.faq-section h2 {
  margin-block: 1rem 1.5rem;
}
.faq-section .header {
  grid-area: heading;
  position: relative;
}
.faq-section .header button {
  padding: 0.5rem 1rem;
}
.faq-section .accordian {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: accordian;
}
.faq-section details {
  padding-block: 0.75rem;
  border-bottom: 1px solid var(--accent-light);
}
.faq-section details p {
  margin-block-start: 1.5rem;
  font-size: 0.9rem;
}
.faq-section details img {
  width: 1rem;
}
.faq-section details::after {
  content: "";
  display: block;
  width: 100%;
}
.faq-section details .expand {
  display: block;
}
.faq-section details .collapse {
  display: none;
}
.faq-section details[open] .collapse {
  display: block;
}
.faq-section details[open] .expand {
  display: none;
}
.faq-section summary {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  color: white;
}
.faq-section summary::marker {
  color: var(--accent);
}
.faq-section .testimonial__wrapper {
  margin-block: 4rem;
  padding: 4rem;
  position: relative;
  grid-column: 1/-1;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 680px) {
  .faq-section .testimonial__wrapper {
    padding: 1rem;
  }
}
.faq-section .testimonial__wrapper .point-illustration {
  position: absolute;
  max-width: 203px;
  left: 15rem;
  bottom: 100%;
  z-index: -1;
}
@media (max-width: 1200px) {
  .faq-section .testimonial__wrapper .point-illustration {
    display: none;
  }
}
.faq-section .testimonial__wrapper .polygon-illustration {
  position: absolute;
  right: 5rem;
  max-inline-size: 60px;
  top: 2rem;
}
.faq-section .testimonial__wrapper img {
  margin-inline: auto;
}
.faq-section .testimonial__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  background: #20344A url("/images/background_pattern.png") no-repeat 50% 50%/cover;
  background-blend-mode: multiply;
  opacity: 0.5;
  border-radius: 1.75rem;
}
.faq-section .testimonial__wrapper .author {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
.faq-section .testimonial__wrapper .quote {
  width: 42px;
}
.faq-section .reviewer {
  overflow-x: auto;
  display: flex;
  align-items: center;
}
.faq-section .reviewer img {
  height: 50px;
  width: 50px;
  margin-inline: 0.5rem;
  flex-shrink: 0;
}
.faq-section .reviewer__wrapper {
  display: flex;
  justify-content: center;
  margin-block-start: 2rem;
  overflow-x: auto;
}
.faq-section .reviewer .active {
  height: 80px;
  width: 80px;
}

footer {
  background-color: #20344a;
  padding-block: 3rem;
  position: relative;
}
footer::before, footer::after {
  content: "";
  display: inline-flex;
  top: 0;
  left: 0;
  height: 20rem;
  width: 20rem;
  filter: blur(100px);
}
footer::after {
  left: 100%;
}
footer .companies {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: auto;
}
footer .companies img {
  display: inline-block;
  width: 9rem;
  vertical-align: middle;
  margin-inline: 1rem;
  flex-shrink: 0;
}
footer .companies__wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
footer form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
footer form button {
  padding: 0.25rem 1rem;
  flex-shrink: 1;
}
footer section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  gap: 1rem;
  justify-items: center;
}
footer section > * {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 995px) {
  footer section {
    justify-items: start;
  }
  footer section > * {
    gap: 1rem;
  }
}
footer input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--accent-light);
}
footer input::-moz-placeholder {
  color: var(--color);
}
footer input::placeholder {
  color: var(--color);
}
footer ul,
footer li {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=App.css.map */